.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  background: red;
}

@media screen and (max-width: 375px) {
  .box {
    background: purple;
  }
}

@media screen and (max-width: 320px) {
  .box {
    background: green;
  }
}